<html>
    <body>
        <div id="app">
            <h1 id="titleMsg">{{ message }}</h1>
            <p v-if="secretMessage">This is a secret HTML element.</p>
            <p v-else>Welcome to the website.</p>

            <input v-model="secretMessage" type="checkbox"></input>
            <input type="button" v-on:click="changeToBlue" value="Make Title Blue"></input>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script>
            let app = new Vue({
                el: "#app",
                data: {
                    message: "Hi!",
                    secretMessage: false,
                },
                methods: {
                    changeToBlue: () => {
                    }
                }
            });      
        </script>
    </body>
</html>
